<div class="contenedor-principal">
    <div class="signUp">
        <div class="contenido-imagen"></div>
    </div>
    <div class="formulario-login">
        <div class="contenedor">
            <div class="contenido-formulario">
                <h1>SignUp</h1>
                <form action="/signUp" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Username</label>
                        <input type="text" name="fullname" class="form-control" id="exampleFormControlInput1" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email Address</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="********">
                    </div>
                    <div class="form-group">
                        <button type="submit" class=" btn btn-block btn-primary">SigUp</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>